@import "tailwindcss";
@import "basecoat-css";

/*@plugin '@tailwindcss/forms';*/

@theme  {
--color-gold: "C59A4A";
--color-beige: "D6B884";
--color-charcoal: "2E2A26";
--color-offwhite: "F5F0E6";
--color-brown: "8A5A2F";
  --color-grayshadow: "6E6B66";

--color-primary: "3490dc";
--color-secondary: "f1c40f";
  --color-success: "2ecc71";
  --color-warning: "e67e22";
  --color-error: "e74c3c";

  --font-serif: "Merriweather", "serif";
  --font-sans: "Inter", "sans-serif";
  --font-mono: "Fira Code", "monospace";
}
